*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: linear-gradient(to right, #be93c5, #7bc6cc);
}
.wrapper .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    overflow: hidden;
    background: #fff;
    margin: 0 5px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0 ,0 ,0 , 0.1);
    transition: all 0.3s ease-out;
}
.wrapper .button:hover{
    width: 200px;
}
.wrapper .button .icon{
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.icon img{
    height: 45px;
    width: 45px;
    margin-left: 7.5px;
    margin-top: 7.5px;
}
.wrapper .button:nth-child(1):hover .icon{
    background: #f3f3f3;
}
.wrapper .button:nth-child(2):hover .icon{
    background: #f3f3f3;
}
.wrapper .button:nth-child(3):hover .icon{
    background: #f3f3f3;
}
.wrapper .button:nth-child(4):hover .icon{
    background: #f3f3f3;
}
.wrapper .button:nth-child(5):hover .icon{
    background: #f3f3f3;
}
.button span{
    font-size: 24px;
    font-weight: 500;
    line-height: 60px;
    margin: 0px 10px;
    transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
    color: #4267B2;
}
.wrapper .button:nth-child(2) span{
    color: #4267B2;
}
.wrapper .button:nth-child(3) span{
    color: #4267B2;
}
.wrapper .button:nth-child(4) span{
    color: #4267B2;
}
.wrapper .button:nth-child(5) span{
    color: #4267B2;
}